@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* 
          font-family: "Roboto", sans-serif;
          font-family: 'Catamaran', sans-serif;
          font-family: 'Poppins', sans-serif;
*/

body {
  font-family: "Roboto", sans-serif;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 22px;
  font-weight: 600;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
  font-weight: 700;
}

p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

a {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Roboto", sans-serif;
}

@media (min-width: 768px) {
  h1 {
    font-size: 25px;
  }
  p {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  h1 {
    font-size: 30px;
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 45px;
  }
}
